.card-description {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 5px 0;
  margin: 0;
  text-align: justify;
}

/* Приклад використання CSS-змінної */
:root {
  --color-default-text: #333;
}