/* packages/react-card-adapter/src/styles/Title.css */

.card-title {
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0;
}

.title--size-m {
  font-size: 16px;
}

.title--size-l {
  font-size: 20px;
}

.title--size-xl {
  font-size: 24px;
}

:root {
  --color-title-default: #333;
}