/* packages/react-card-adapter/src/CardGrid.css */

.card-grid-container {
  padding: 20px;
  background-color: #333;
  /* Темний фон для Storybook */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 15px;
}